@font-face {
    font-family: 'Inter-Regular';
    src: local('Inter-Regular'), 
    url(../../fonts/Inter-Regular.woff2) format('woff2'), 
    url(../../fonts/Inter-Regular.woff) format('woff'),
    url(../../fonts/Inter-Regular.ttf) format('ttf');
}

/* @font-face {
    font-family: 'Inter-Bold';
    src: local('Inter-Bold'), 
    url(../../fonts/Inter-Bold.woff2) format('woff2'), 
    url(../../fonts/Inter-Bold.woff) format('woff'),
    url(../../fonts/Inter-Bold.ttf) format('ttf');
} */

@font-face {
    font-family: 'Inter-Black';
    src: local('Inter-Black'), 
    url(../../fonts/Inter-Black.woff2) format('woff2'), 
    url(../../fonts/Inter-Black.woff) format('woff'),
    url(../../fonts/Inter-Black.ttf) format('ttf');
}

.page {
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Inter-Regular', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #2A2C2F;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%; 
    text-rendering: optimizeLegibility;
}
