.intro__list-text_weight_bold {
    font-weight: 700;
    margin-left: 148px;
}

@media screen and (max-width: 1030px) {
    .intro__list-text_weight_bold {
    margin-left: 48px;
    }
}

@media screen and (max-width: 780px) {
    .intro__list-text_weight_bold {
    margin-left: 24px;
    }
}

@media screen and (max-width: 430px) {
    .intro__list-text_weight_bold {
    margin-left: 20px;
    }
}

@media screen and (max-width: 330px) {
    .intro__list-text_weight_bold {
    margin-left: 16px;
    }
}