.header__logo {
    background-image: url(../../../images/header__logo.svg);
    width: 176px;
    height: 52px;
    background-position: center;
    margin: 28px 0 0 48px;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 780px) {
    .header__logo {
    margin: 28px 0 0 24px;
    }
}

@media screen and (max-width: 430px) {
    .header__logo {
    margin: 22px 0 0 20px;
    }
}

@media screen and (max-width: 330px) {
    .header__logo {
    width: 142px;
    height: 42px;
    margin: 16px 0 0 16px;
    }
}