.footer_position_center {
    margin: 0 48px;
    padding-bottom: 24px;
}

@media screen and (max-width: 780px) {
    .footer_position_center {
    margin: 0 24px;
    padding-bottom: 24px;
    }
}

@media screen and (max-width: 430px) {
    .footer_position_center {
    margin-left: 20px;
    padding-bottom: 24px;
    }
}

@media screen and (max-width: 330px) {
    .footer_position_center {
    margin-left: 16px;
    padding-bottom: 24px;
    }
}