.header__link-container {
    display: flex;
    gap: 18px;
    list-style: none;
    margin: 0;
    padding: 18px 0 0;
}

@media screen and (max-width: 430px) {
    .header__link-container {
    padding-top: 16px;
    } 
}

@media screen and (max-width: 330px) {
    .header__link-container {
    padding-top: 14px;
    } 
}