.place_position_center {
    margin: 80px auto 0 auto;
}

@media screen and (max-width: 1200px) {
    .place_position_center {
    margin: 80px auto 0 auto;
    }
}

@media screen and (max-width: 780px) {
    .place_position_center {
    margin: 73px auto 0 auto;
    }
}

@media screen and (max-width: 430px) {
    .place_position_center {
    margin: 50px auto 0 auto;
    }
}