.place {
    width: calc(100% - 148px - 148px);
    display: grid;
    grid-template-columns: 460px 484px;
    gap: 48px 40px;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .place {
    width: calc(100% - 48px - 48px);
    grid-template-columns: calc((100%/2) - 16px - 8px) calc((100%/2) - 16px + 8px);
    gap: 48px 32px;
    }
}

@media screen and (max-width: 1000px) {
    .place {
    width: calc(100% - 36px - 36px);
    grid-template-columns: calc((100%/2) - 16px - 8px) calc((100%/2) - 16px + 8px);
    gap: 48px 32px;
    }
}

@media screen and (max-width: 780px) {
    .place {
    width: calc(100% - 24px - 24px);
    grid-template-columns: calc((100%/2) - 14px - 6px) calc((100%/2) - 14px + 6px);
    gap: 48px 28px;
    }
}

@media screen and (max-width: 600px) {
    .place {
    width: calc(100% - 22px - 22px);
    grid-template-columns: 100%;
    gap: 0;
    }
}

@media screen and (max-width: 430px) {
    .place {
    width: calc(100% - 20px - 20px);
    grid-template-columns: 100%;
    gap: 0;
    }
}

@media screen and (max-width: 330px) {
    .place {
    width: 100%;
    grid-template-columns: 100%;
    gap: 0;
    }
}